<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% bootstrap_messages %}
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- jQuery Mask plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
